
* {
	margin: 0;
	padding: 0;
}
.D {
	max-width: 1200px;
	width: 100%;
	background-color: #FFECDC;
	margin: auto;
}


#ground .ground {
	/*background-image: url("../img/ground.png");*/
	/* background-color: aliceblue; */
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	height: 100%;
	width: 100%;	
	/*min-width: 450px;*/
	

}

#ground{
	margin: auto;
	position: relative;
	display: block;
	/*padding-top: 30px;*/
	width: 360px;
	height: 430px;
}


.tree_item{
	width: 150px;
	height: 150px;
}

.tree_item .tree_pitcher{
	width: 100%;
	height: 150px;
}

.tree{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#t_1 {
	position: absolute;
	top:5%;
	left: 31%;
}
#t_2 {
	position: absolute;
	top:13%;
	left: 31%;
}
#t_3 {
	position: absolute;
	top:23%;
	left: 31%;
}

#t_4 {
	position: absolute;
	top:33%;
	left: 31%;
}

#t_5 {
	position: absolute;
	top:44%;
	left: 31%;
}
#t_6 {
	position: absolute;
	top:11%;
	left: 21%;
}
#t_7 {
	position: absolute;
	top:21%;
	left: 21%;
}
#t_8 {
	position: absolute;
	top:31%;
	left: 21%;
}
#t_9 {
	position: absolute;
	top:41%;
	left: 21%;
}
#t_10 {
	position: absolute;
	top:17%;
	left: 12%;
}
#t_11 {
	position: absolute;
	top:27%;
	left: 12%;
}
#t_12 {
	position: absolute;
	top:37%;
	left: 12%;
}
#t_13 {
	position: absolute;
	top:20%;
	left: 3%;
}
#t_14 {
	position: absolute;
	top:31%;
	left: 3%;
}
#t_15 {
	position: absolute;
	top:26%;
	left: -7%;
}
#t_16 {
	position: absolute;
	top:9%;
	left: 40%;
}
#t_17 {
	position: absolute;
	top:20%;
	left: 40%;
}
#t_18 {
	position: absolute;
	top:30%;
	left: 40%;
}
#t_19 {
	position: absolute;
	top:40%;
	left: 40%;
}
#t_20 {
	position: absolute;
	top:15%;
	left: 49%;
}
#t_21 {
	position: absolute;
	top:25%;
	left: 49%;
}
#t_22 {
	position: absolute;
	top:35%;
	left: 49%;
}
#t_23 {
	position: absolute;
	top:20%;
	left: 58%;
}
#t_24 {
	position: absolute;
	top:30%;
	left: 58%;
}
#t_25 {
	position: absolute;
	top:26%;
	left: 69%;
}

@media screen and (max-width: 414px){
/* 	#ground img{
		width: 100%;
	} */

	.D{
		width: 100%;
		margin: 0;
	}

	.sheet{
		width: 100%;
	}

	.form-group{
		padding: 0 30px;
	}

	.tree_item{
		max-width:	110px;
		max-height: 110px;
	}

	#t_1 {
		position: absolute;
		top:5%;
		left: 33%;
	}
	#t_2 {
		position: absolute;
		top:13%;
		left: 33%;
	}
	#t_3 {
		position: absolute;
		top:23%;
		left: 33%;
	}
	
	#t_4 {
		position: absolute;
		top:33%;
		left: 33%;
	}
	
	#t_5 {
		position: absolute;
		top:44%;
		left: 33%;
	}
	#t_6 {
		position: absolute;
		top:11%;
		left: 24%;
	}
	#t_7 {
		position: absolute;
		top:21%;
		left: 24%;
	}
	#t_8 {
		position: absolute;
		top:31%;
		left: 24%;
	}
	#t_9 {
		position: absolute;
		top:41%;
		left: 24%;
	}
	#t_10 {
		position: absolute;
		top:17%;
		left: 16%;
	}
	#t_11 {
		position: absolute;
		top:27%;
		left: 16%;
	}
	#t_12 {
		position: absolute;
		top:37%;
		left: 16%;
	}
	#t_13 {
		position: absolute;
		top:20%;
		left: 7%;
	}
	#t_14 {
		position: absolute;
		top:31%;
		left: 7%;
	}
	#t_15 {
		position: absolute;
		top:26%;
		left: -3%;
	}
	#t_16 {
		position: absolute;
		top:9%;
		left: 43%;
	}
	#t_17 {
		position: absolute;
		top:20%;
		left: 43%;
	}
	#t_18 {
		position: absolute;
		top:30%;
		left: 43%;
	}
	#t_19 {
		position: absolute;
		top:40%;
		left: 43%;
	}
	#t_20 {
		position: absolute;
		top:15%;
		left: 52%;
	}
	#t_21 {
		position: absolute;
		top:25%;
		left: 52%;
	}
	#t_22 {
		position: absolute;
		top:35%;
		left: 52%;
	}
	#t_23 {
		position: absolute;
		top:20%;
		left: 60%;
	}
	#t_24 {
		position: absolute;
		top:30%;
		left: 60%;
	}
	#t_25 {
		position: absolute;
		top:26%;
		left: 70%;
	}

}





#sheet{
	margin: 5px auto;
	max-width: 630px;
}

#sheet h3{
	text-align: center;
	padding: 5px;	
	margin: auto;
}

.form-control{
	margin: 5px auto;

}

.wrap-about{
	max-width: 650px;
	margin: auto;
}

.about h3{
	text-align: center;
	color: brown;
	font-size: 35px;
}

.about p{
	text-align: center;
	
}

.content p{
	text-align: left;
	padding-left: 10px;
	color: #7A6554;
}


.separator span {
	font-size: 25px;
	color: #98AA74;
  }
  .texture1 {
	/*-webkit-box-sizing: content-box;
	//-moz-box-sizing: content-box;
	//box-sizing: content-box;
	//width: 320px;
	//height: 320px;
	//border: none;
	//font: normal 100%/normal Arial, Helvetica, sans-serif;
	//color: rgb(255, 255, 255);
	//-o-text-overflow: clip;
	//text-overflow: clip;*/
	background: -webkit-linear-gradient(63deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(63deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(0deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), -webkit-linear-gradient(-90deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	background: -moz-linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -moz-linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), -moz-linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	background: linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19, 19, 19);
	background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
  }
  .separator>*{
	display: inline-block;
	vertical-align: middle;
  }
  .separator {
	  text-align: center;
	  border: 0;
	  white-space: nowrap;
	  display: block;
	  overflow: hidden;
	  padding: 0;
	  margin: 0;
  }
  .separator:before, .separator:after {
	  content: "";
	  height: 2px;
	  width: 50%;
	  background-color: gray;
	  margin: 0 5px 0 5px;
	  display: inline-block;
	  vertical-align: middle;
  }
  .separator:before {
	  margin-left: -100%;
  }
  .separator:after {
	  margin-right: -100%;
  }

  .content{
	margin: 10px 0;
	border-left: 10px solid #CED9B1;
  }

  .event{
	display: flex;
	margin: 10px 10px;
  }
  .event-text{
	  margin-left: 10px;
  }
  .event-text p{
	margin-left: 10px;
	color: #7A6554;;
}
.event-text b{
	color: #3F2109;
}